@import './Vars.scss';
@import './Media.scss';

body {
    margin: 0px;
    font-family: $theme-font;
    background-color: $main-color;
}

* {
    box-sizing: border-box;
}

// ::-webkit-scrollbar {
//     width: 0px;
//     background: transparent;
// }

// https://codepen.io/pieter-biesemans/pen/zoOvMY/